#navbar {
    position: fixed;
    width: 30%;
    margin-left: 0px;
    height: 100vh;
    background-color: gray;
    
}



#resume {
    width: 550px;
    margin-left: 30%;
    padding: 15px;

    font-family: 'Roboto', sans-serif;
}

#name {
    margin-bottom: 20px;
    transform: rotate(270deg);
    transform-origin: right bottom 0;
    color: white;
}

.section-header {
    padding-bottom: 5px;
    margin-bottom: 5px;

}